.container {  
    .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 20px;
    
      .new-product-btn {
        float: right;
        margin-top: 20px;
      }
    }
  
    .table-wrapper {
      border: 1px solid var(--color-131921);
      border-radius: 5px;
      padding: 10px;
    }
  }
  