/* styles.css */

.profile-container {
  margin: 0 auto;
  padding: 20px;
  background-color:#F0F1F3;
}

.profile-form {
  display: flex;
  flex-direction: column;
}

.avatar {
  width: 80%;
  height: auto;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  margin: 0 auto;
}

.avatar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.avatar img {
  max-width: 200px;
  height: auto;
  margin-bottom: 10px;
}

.change-avatar-button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  background-color: var(--color-131921);
  color: white;
}

.change-avatar-button:hover {
  background-color: var(--color-febd69);
  color: var(--color-131921);
}

.general-infor, .avatar {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="file"],
.gender-options input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #F0F1F3;
}

.gender-options {
  display: flex;
  gap: 10px;
  align-items: center;
}

.gender-options input {
  width: auto;
}

.form-actions {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
}

.edit-button,
.save-button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  background-color: var(--color-131921);
  color: white;
  margin-right: 20px;
}

.edit-button:hover,
.save-button:hover {
  background-color: var(--color-febd69);
  color: var(--color-131921);
}
